xmlfilereader/src/main/app/xmlfilereader.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <file:connector name="File" autoDelete="true" streaming="true" recursive="true" validateConnections="true" doc:name="File" workFileNamePattern="*.xml"/>
    <db:mysql-config name="MySQL_Configuration" host="localhost" port="3306" user="root" password="password" database="mysql" doc:name="MySQL Configuration"/>
    <flow name="xmlfilereaderFlow">
        <file:inbound-endpoint path="C:\Users\ManishKumarGoel\AnypointStudio\workspace\xmlfilereader\src\main\resources\input"  moveToDirectory="C:\Users\ManishKumarGoel\AnypointStudio\workspace\xmlfilereader\src\main\resources\output" connector-ref="File" responseTimeout="10000" doc:name="XMLFile"/>
        <file:file-to-byte-array-transformer doc:name="File to Byte Array"/>
        <splitter enableCorrelation="ALWAYS" expression="#[xpath3('/students/student',payload,'NODESET')]" doc:name="Splitter"/>
        <mulexml:dom-to-xml-transformer doc:name="DOM to XML"/>
        <set-session-variable variableName="firstName" value="#[xpath3('/student/firstName')]" doc:name="Session Variable"/>
        <set-session-variable variableName="lastName" value="#[xpath3('/student/lastName')]" doc:name="Session Variable"/>
        <set-session-variable variableName="age" value="#[xpath3('/student/age')]" doc:name="Session Variable"/>
        <set-session-variable variableName="zipcode" value="#[xpath3('/student/zipcode')]" doc:name="Session Variable"/>
        <set-session-variable variableName="gender" value="#[xpath3('/student/gender')]" doc:name="Session Variable"/>
        <set-session-variable variableName="id" value="#[xpath3('/student/id')]" doc:name="Session Variable"/>
        <flow-ref name="xmlfilereaderSub_Flow" doc:name="database call"/>
    </flow>
    <sub-flow name="xmlfilereaderSub_Flow">
        <logger message="#[xpath3('/student/id')], #[xpath3('/student/firstName')] , #[xpath3('/student/lastName')], #[xpath3('/student/age')], #[xpath3('/student/zipcode')], #[xpath3('/student/gender')]" level="INFO" doc:name="Logger"/>
        <db:select config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[select id AS myID from student where firstname = #[sessionVars.firstName] AND lastname = #[sessionVars.lastName];]]></db:parameterized-query>
        </db:select>
        <logger message="going to choice :: size of payload is #[payload.size()]" level="INFO" doc:name="Logger"/>
        <choice doc:name="Choice">
            <when expression="#[payload.size() == 0]">
                <db:insert config-ref="MySQL_Configuration" doc:name="create">
                    <db:parameterized-query><![CDATA[Insert into student (id, firstname, lastname, age, zipcode, gender) VALUES ( #[sessionVars.id], #[sessionVars.firstName], #[sessionVars.lastName], #[sessionVars.age], #[sessionVars.zipcode], #[sessionVars.gender]);]]></db:parameterized-query>
                </db:insert>
            </when>
            <when expression="#[payload.size() &gt; 0]">
                <db:bulk-execute config-ref="MySQL_Configuration" doc:name="update"><![CDATA[UPDATE student SET age = #[sessionVars.age] WHERE  id = #[payload[0].myID];
UPDATE student SET zipcode = #[sessionVars.zipcode] WHERE  id = #[payload[0].myID];]]>
                </db:bulk-execute>
            </when>
            <otherwise>
                <logger message="Default Flow" level="INFO" doc:name="Logger"/>
            </otherwise>
        </choice>
    </sub-flow>
</mule>
